/* style.css */
.button {
    -fx-font-family: 'Segoe UI'; 
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to bottom right, #103264,  #B0DFFF); /* Gradient background */
    -fx-text-fill: white;         
    -fx-padding: 5px 10px;
    -fx-font-size: 12px;
    -fx-border-radius: 5px;       
    -fx-background-radius: 5px;   
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom right, #103264, #728ca2); /* Gradient background */
}

.button:pressed {
    -fx-background-color: linear-gradient(to bottom right, #103264, #034959); /* Gradient background */
}
